// Colors
$color-primary: #000000;

// Fonts
$font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-small: 8px;
$font-size-normal: 15px;
$font-size-large: 20px;
$font-size-extra-large: 35px;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
